/*
headings and buttons font cursive (like comic sans) italic and maybe bold

other text standard HTML font? or something simple

for main headings try gif text headings

*/

html
{
    background-color: black;
    border: outset darkgray 10px ;

}


.header{
    background-image: url('../artwork/JhbSpace.jpg');
    background-size: cover;
    display: block;
    margin: auto;
    padding: 10px;
    height: auto;
    max-height: 100vh;
    max-width: 100%;
    background-repeat: no-repeat;

    text-align: center;
}

header
{
    justify-content: center;
    padding: 10px;
    max-height: 100vh;
}

.logo{
    background-image: url('../artwork/logo.png');
    outline-style: double;
    outline-color: darkgray;
    outline-width:5px ;
    min-height: 250px; 
    max-width: 250px;
    border-style: outset;
    border-color: lightgray;
    border-width: 10px;

    justify-content: center;

    margin: 0px;
    padding:0px;
}

.logo:hover
{
    cursor: pointer;
    border-color: darkgray;
}

h1, h2{
    cursor: text;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: crimson;
    font-size: 30px;
    text-decoration: underline;
    text-transform: uppercase;
}



h3{ 
    cursor: text;
    text-align: center;
    color: rgb(88, 35, 185);
    font-size: 40px}

.indexMenu
{
    display: block;
    max-height: 100vh;
    max-width: 100%;
    background-repeat: repeat;
}

.quicklinkCollection
{
    margin: auto;
}

.quicklink
{   
    display: inline-block;

    font-family: cursive;
    font-size: 20px;

    background-color: lightgray;
    color: darkgray;
    border-style: double;
    border-color: blue;
    margin: 3%;
    height: 10%;
    width: 10%;
}

.button{
    font-size: 20px;
    border-style: outset;
    background-color: lightgray;
    border-color: darkgray;
}

.indexnav:link, .indexnav:visited{
    background-color: lightgray;
    color: blue;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block
}
.indexnav:active, .indexnav:hover
{
    background-color: darkgray;
    border-color: lightgray;
}


.ArticleBackground{
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-position: center;
    background-repeat: repeat;
}

.mainArticle
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    max-width: 50%;
    max-height: 75vh;

    justify-content: center;
    cursor: text;
    margin:auto;
    padding: 2%;

    background-color: darkgray;
    border-style: inset;
    border-width: 5px;
    border-color: blueviolet;

    background-repeat: no-repeat;
    background-size: cover;

    overflow: auto;

    text-align: left;
    font-family: Times New Roman,Times,serif;
    font-size: 20px;
    color: black;
    letter-spacing: 3px;
    line-height: 10x;


}

ul
{
list-style: none;
}
li
{
    list-style: none;
}

.game{
    border:darkgreen outset 10px;
    display: block;
    margin: auto;
    height: 400px;
    width: 400px;
    max-width: 400px;
    max-height: 400px;
}
.gamebutton
{
    cursor: pointer;
    display: inline-block;
    margin: auto;
    position: absolute;

    height:10% ;
    width:15% ;
    max-height: 10%;
    width: 15%;

    bottom: 10%;
    color: blue;
    background-color: darkgreen;
    text-decoration: underline;
}

.backtotop{
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 200px;
    border-width: 5px;
    border-style: inset ;
    border-color: darkgray;
    color: blue;

    text-decoration: underline;
    font-size: 15px;
}

.rndmtxt
{
    color: chartreuse;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
}



footer
{
display: block; 
width: 100%;
height: 10%; 
background-image: url(https://i.pinimg.com/originals/6a/2f/77/6a2f7705e95ead4aae8c21af52c80506.jpg);
background-repeat: repeat;
}

.contacts
{
    text-align: left;
    justify-content: left;

    display: block;
    text-decoration: underline;
    color: sandybrown;
}


/*BOG STUFF----------------------------------------------------*/
.allblogsbackground
{
    padding: 5%;
    display: block;
    min-height: 100vh;
    max-width: 100%;
    background-image: url('../artwork/backgroundimages/stars.jpg');
    background-repeat: repeat;
}

.bloglink
{
    justify-content: center;
}


.Blog{
    cursor: text;
    border-style: outset;
    border-color: darkgray;
    
    font-family: Times New Roman,Times,serif;
    font-size: 30px;
    color: rgb(225, 238, 43);
    letter-spacing: 3px;
    line-height: 10x;

    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

}

.blogBackground
{
    background-image: url('../artwork/backgroundimages/stars.jpg');
    padding: 40px;
}



.blogpic{
    float: right;
}

/*News Board-----------------------------------------*/
.newsContent
{
    margin: auto;
    max-height: 10%;
    max-width: 50%;
}

















/*
.indexarticlebackimage{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
*/



/*
article stuff

style=" border-style: inset; border-width: 8px; margin:auto; padding: 20px"

style="border-style: inset;
        border-width: 8px;
        margin:auto;
        padding: 20px"

        style="border-style: inset;
                            border-width: 8px;
                            margin:auto;
                            padding: 20px"
*/