header{
    background-image: url('../artwork/skyline1.png');
    text-align: center;
    color: blue;
    font-size: 40px;
    
}

h1{
    text-align: center;
    color: crimson;
    font-size: 30px;
}

h2{
    text-align: center;
    color: blue;
    font-size: 25px
}

h3{    text-align: center;
    color: rgb(88, 35, 185);
    font-size: 20px}

article{
text-align: left;
font-size: 20px ;
color: rgb(20, 19, 19);
background-color: darkslategrey;
}

.button{border-style: inset;
background-color: lightgray;
}